NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_USER=vacancies
DATABASE_PASSWORD=vacancies123
DATABASE_NAME=vacancies
DATABASE_PORT=5455

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=vacancies
KAFKA_CONSUMER_GROUP=vacancies-consumer
KAFKA_RETRY_COUNT=8

KAFKAJS_NO_PARTITIONER_WARNING=1
